.funnel {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__settings {
    padding: 40px 15px;
    margin-bottom: 40px;
    min-width: 400px;
    border-right: 1px solid #d6d6d6;
  }

  &__inner {
    margin-left: 40px;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &__item {
    width: 500px;
    height: 40px;
    background: gray;
    margin-bottom: 2px;
  }
}

.funnel-canvas {
  display: block;

  &__wrapper {
    border: 1px solid #d6d6d6;
  }
}

.download-funnel {
  display: flex;
  margin: 16px 0;

  input {
    margin-left: 16px;
  }
}